URxvt*scrollTtyOutput: true
! Scroll relative to buffer
URxvt*scrollWithBuffer: true
! Scroll to bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt.scrollstyle: rxvt
URxvt.scrollBar: False
URxvt.saveLines: 2000
URxvt.urgentOnBell: True
URxvt.cursorBlink: False
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.perl-ext-common: default,matcher,font-size,url-select,keyboard-select

URxvt.keysym.M-Escape: perl:keyboard-select:activate

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.colorUL: #4682B4

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show